---
import Layout from '../layouts/Layout.astro';
import SwaggerUI from '../components/SwaggerUI.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="API Documentation">
  <Header />
  <main class="min-h-[calc(100vh-160px)] py-8 bg-gray-900">
    <div class="container mx-auto px-4">
      <SwaggerUI />
    </div>
  </main>
  <Footer />
</Layout>